{% extends 'portfolio/home.html' %}
{% load static %}

{% block title %}

Experience

{% endblock %}

{% block body %}

<div class="experience-section">
   
    <div class="projects-section">
      <h2>Projects</h2>

      <div class="project-card" id="project1" data-aos="fade-up">
        <span>
            <img src="{% static 'img/auction.png' %}" alt="eCommerce Platform">
        </span>
       <span>
        <h3>eCommerce Platform</h3>
        <p>This project showcases an online shopping platform built using Python, Django, and REST APIs.</p>
        <p><strong>Tech Stack:</strong> Python, Django, HTML, CSS, JavaScript</p>
        <span>GitHub: <a href="https://github.com/CaraCara96/ecommerce" target="_blank" class="project-links">View Project</a></span>
    
       </span>
       </div>
      <div class="project-card" id="project2" data-aos="fade-up">
        <span>
            <img src="{% static 'img/social.png' %}" alt="eCommerce Platform">
        </span>
      <span>
        <h3>Social Network</h3>
        <p>Developed a social media platform as part of Harvard CS50W, focusing on user interaction and engagement.</p>
        <p><strong>Tech Stack:</strong> Python, Django, HTML, CSS, JavaScript</p>
        <span>GitHub: <a href="https://github.com/CaraCara96/social-network" target="_blank" class="project-links">View Project</a></span>
     
      </span>
    </div>
    </div>
  
   
    <div class="experience-timeline2">
      <h2>Work Experience</h2>
      <div class="timeline-item2" data-aos="fade-up">
        <h4>IT Lead, Education Hub</h4>
        <span>2023 - Present</span>
        <li>Co-Founder and developer of EDUCATION Hub</li>
        <li>
            Lead role in building and managing the company's website
        </li>
        <li>
            Responsible for ensuring website stability
        </li>
        <li>
            Implementation of new features to enhance user experience
        </li>
        <li>
            Gained knowledge of full-stack development, front-end design and back-end server side logic
        </li>
      </div>
      <div class="timeline-item2" data-aos="fade-up">
        <h4>Administration and Procurement, Perfect Structure</h4>
        <span>2019 - Present</span>
        <li>Managed office operations, invoicing, and procurement. </li>
        <li>
            Managed office operations, coordinate meetings, and ensure smooth workflow
        </li>
        <li>
            Developed strong organizational skills and multitasking abilities.
        </li>
      </div>
      <div class="timeline-item2" data-aos="fade-up">
        <h4>Freelance Design, Self Employed</h4>
        <span>2022 - Present</span>
        <li>Design fliers, logos, price lists and invitations for various clients </li>
        <li>
            Managed client relationships, timelines and project revisions
        </li>
        <li>
           Delivered tailored designs that align with branding and marketing needs
        </li>
      </div>
    </div>
  </div>
  
  


{% endblock %}