{% extends 'portfolio/home.html' %}
{% load static %}

{% block title %}

Experience

{% endblock %}

{% block body %}

<div class="experience-section">
   
    <div class="projects-section">
      <h2>Projects</h2>
        {% for project in projects %}
      <div class="project-card" id="project1" data-aos="fade-up">
        <span>
            <img src="{{project.image.url}}" alt="{{project.title}}">
        </span>
       <span>
        <h3>{{project.title}}</h3>
        <p>
            {{project.description}}
        </p>
        <p><strong>Tech Stack:</strong> {{project.tech_stack}}</p>
        <span>GitHub: <a href="{{project.github_link}}" target="_blank" class="project-links">View Project</a></span>
    
       </span>
       </div>

       {% endfor %}
     
    </div>
  
   
    <div class="experience-timeline2">
      <h2>Work Experience</h2>
      <div class="timeline-item2" data-aos="fade-up">
        <h4>IT Lead, Education Hub</h4>
        <span>2023 - Present</span>
        <li>Co-Founder and developer of EDUCATION Hub</li>
        <li>
            Lead role in building and managing the company's website
        </li>
        <li>
            Responsible for ensuring website stability
        </li>
        <li>
            Implementation of new features to enhance user experience
        </li>
        <li>
            Gained knowledge of full-stack development, front-end design and back-end server side logic
        </li>
      </div>
      <div class="timeline-item2" data-aos="fade-up">
        <h4>Administration and Procurement, Perfect Structure</h4>
        <span>2019 - Present</span>
        <li>Managed office operations, invoicing, and procurement. </li>
        <li>
            Managed office operations, coordinate meetings, and ensure smooth workflow
        </li>
        <li>
            Developed strong organizational skills and multitasking abilities.
        </li>
      </div>
      <div class="timeline-item2" data-aos="fade-up">
        <h4>Freelance Design, Self Employed</h4>
        <span>2022 - Present</span>
        <li>Design fliers, logos, price lists and invitations for various clients </li>
        <li>
            Managed client relationships, timelines and project revisions
        </li>
        <li>
           Delivered tailored designs that align with branding and marketing needs
        </li>
      </div>
    </div>
  </div>
  
  


{% endblock %}